*{
    margin: 0px;
    padding: 0px;
}
.partone{
    width: 6.4rem;
    height: 0.89rem;
    background-color: #50bbdb;
    font-size: 0.34rem;
    text-align: center;
    line-height: 0.89rem;
    color: white;
    position: relative;
    overflow: hidden;
}
.team2{
    width: 1.11rem;
    height: 0.39rem;
    margin-left: 2.67rem;
    font-size: 0.36rem;
    color: white;
    display: block;
}
.parttwo{
    width: 6.4rem;
    height: 4.69rem;
}
.redone{
    width: 6.4rem;
    height: 3.59rem;
    position: relative;
}
.redmot{
    width: 6.4rem;
    height: 3.59rem;
}
.sign{
    width: 6.4rem;
    height: 0.53rem;
    background-color:rgba(250, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    font-size: 0.28rem;
}
.signs{
    width: 6.4rem;
    height: 0.53rem;
    font-size: 0.28rem;
    margin-left: 0.21rem;
    color: white;
}
.solute{
    width: 6.4rem;
    height: 1.09rem;
    overflow: hidden;
}
.position{
    font-size: 0.27rem;
    height: 0.71rem;
    width: 5.33rem;
    margin-top: 0.18rem;
    margin-left: 0.29rem;
    border-right: 1px solid #cccccc;
}
.exp{
    font-size: 0.17rem;
}
.num{
    font-size: 0.24rem;
    color: #f0851a;
}
.partthree{
    width: 6.4rem;
    height: 1.96rem;
    background-color: #e5e5e5;
}
.img{
    width: 6.4rem;
    height: 0.09rem;
    background: url(../images/style.jpg) repeat-x;
}
.day{
    width: 6.3rem;
    height: 1.23rem;    
    margin-left: 0.01rem;
    background-color: white;
    overflow: hidden;
    margin-top: 0.3rem;
}
.dayone{
    font-size: 0.27rem;
    margin-top: 0.24rem;
    margin-left: 0.2rem;
    height: 0.48rem;
    width: 5.34rem;
}
.fate{
    font-size: 0.27rem;
    margin-left: 0.2rem;
    height: 0.48rem;
    width: 5.34rem;
}
.spring{
    font-size: 0.2rem;
    border: 0.01rem solid black;
    margin-left: 0.16rem;
}
.daynum{
    font-size: 0.2rem;
    border: 0.01rem solid black;
    margin-left: 0.16rem;
}
.partfour{
    width: 6.4rem;
    height: 1rem;
    overflow: hidden;
}
.way{
    width: 6.4rem;
    height: 0.65rem;
    border-bottom: 0.01rem solid #cccccc;
}
.way li{
    font-size: 0.23rem;
    float: left;
    text-align: center;
    line-height: 0.65rem;
    list-style: none;
}
#wayone{
    width: 2.88rem;
    height: 0.65rem;
}
#waytwo{
    width: 1.69rem;
    height: 0.65rem;
}
#waythree{
    width: 1.69rem;
    height: 0.65rem;
    color: #50bbdb;
    border-bottom: 0.02rem solid #50bbdb;
}
.partfive{
    width: 6.4rem;
    height: 0.46rem;
    background-color: #f5f5f5;
}
.hr1{
    width:2.52rem;
    float: left;
    margin-top: 0.23rem;
}
.hr2{
    margin-top: 0.23rem;
    width:2.52rem;
    float: right;
}
.the{
    font-size: 0.23rem;
    float: left;
    width: 1.22rem;
    height: 0.46rem;
    text-align: center;
    line-height: 0.46rem;
}
.partsix{
    width: 6.4rem;
    height: 2.57rem;
}
.team{
    width: 0.97rem;
    height: 2.57rem;
    margin-top: 0.27rem;
    margin-left: 0.31rem;
    list-style: none;
    float: left;
}
.team li{
    font-size: 0.2rem;
    margin-top: 0.16rem;
}
#two{
    margin-top: 0.53rem;
}
#one{
    margin-top: 0;
}
.solution{
    width: 4.84rem; 
    height: 2.57rem;
    float: left;
    margin-top: 0.27rem;
}
.solution li{
    font-size: 0.2rem;
    list-style: none;
    margin-top: 0.16rem;
}
#three{
    margin-top: 0;
}
#four{
    margin-top: 0.13rem;
}
.picone{
    width: 6.4rem;
    height: 3.21rem;
}
.pic-one{
    margin-left: 0.28rem;
    margin-top: 0.3rem;
    width: 5.78rem;
    height: 3.21rem;
}
.trees{
    width: 5.78rem;
    height: 3.21rem; 
    display: block;
}
.pictwo{
    width: 6.4rem;
    height: 3.65rem;
}
.pic-two{
    margin-left: 0.28rem;
    margin-top: 0.3rem;
    width: 5.78rem;
    height: 3.21rem;
}
.for{
    width: 5.78rem;
    height: 3.21rem; 
    display: block;
}
.partwhite{
    width: 6.4rem;
    height: 0.21rem;
    background-color: #d4d4d4;
}
.partwhite-two{
    width: 6.4rem;
    height: 0.28rem;
}
.partseven{
    width: 6.4rem;
    height: 0.46rem;
    background-color: #f5f5f5;
}
.hr1{
    width:2.52rem;
    float: left;
    margin-top: 0.23rem;
}
.hr2{
    margin-top: 0.23rem;
    width:2.52rem;
    float: right;
}
.parteight{
    width: 6.4rem;
    height: 0.68rem;
    position: relative;
}
.plane{
    width: 0.63rem;
    height: 0.69rem;
    float: left;
}
.planeone{
    display: block;
    position: absolute;
    top: 0.31rem;
    left: 0.29rem;
    width: 0.22rem;
    height: 0.34rem;
}
.first{
    width: 4.7rem;
    height: 0.38rem;
    font-size: 0.27rem;
    float: left;
    margin-top: 0.31rem;
    color: #50bbdb;
    margin-left: 0.12rem;
    border-bottom: 0.01rem solid #50bbdb;
}
.partnine{
    width: 5.74rem;
    height: 3.78rem;
    margin-left: 0.4rem;
    border-left: 0.01rem dashed #f5f5f5;
}
.food{
    width: 5.82rem;
    height: 0.69rem;
    margin-left: 0.23rem;
    border-bottom: 0.01rem dashed #f5f5f5;
}
.food li{
    font-size: 0.27rem;
    float: left;
    margin-left: 0.25rem;
    width: 1.93rem;
    margin-top: 0.25rem;
}
.food-one{
    color: #50bbdb;
}
#foodone{
    color: black;
}
#foodtwo{
    list-style: none;
}
.word{
    width: 5.51rem;
    height: 2.9rem;
    margin-left: 0.23rem;
    margin-top: 0.2rem;
    line-height: 0.36rem;
}
.wordone{
    font-size: 0.2rem;
}
.wordtwo{
    font-size: 0.2rem;
}
.partten{
    width: 6.4rem;
    height: 0.68rem;
    position: relative;
}
.plane-two{
    width: 0.63rem;
    height: 0.69rem;
    float: left;
}
.planetwo{
    display: block;
    position: absolute;
    top: 0.31rem;
    left: 0.29rem;
    width: 0.22rem;
    height: 0.34rem;
}
.second{
    width: 4.7rem;
    height: 0.38rem;
    font-size: 0.27rem;
    float: left;
    margin-top: 0.31rem;
    color: #50bbdb;
    margin-left: 0.12rem;
    border-bottom: 0.01rem solid #50bbdb;
}
.partele{
    width: 5.74rem;
    height: 3.78rem;
    margin-left: 0.4rem;
    border-left: 0.01rem dashed #f5f5f5;
}
.foodthree{
    width: 5.82rem;
    height: 0.69rem;
    margin-left: 0.23rem;
    border-bottom: 0.01rem dashed #f5f5f5;
}
.foodthree li{
    font-size: 0.27rem;
    float: left;
    margin-left: 0.25rem;
    width: 1.93rem;
    margin-top: 0.25rem;
}
#food-two{
    color: #50bbdb;
    width: 2.3rem;
}
#foodtwo{
    color: black;
}
#foodfour{
    list-style: none;
}
.word1{
    width: 5.51rem;
    height: 2.9rem;
    margin-left: 0.23rem;
    margin-top: 0.2rem;
    line-height: 0.36rem;
}
.wordthree{
    font-size: 0.2rem;
}
.picthree{
    width: 6.4rem;
    height: 4.19rem;
}
.pic-three{
    width: 5.42rem;
    height: 4.08rem;
    margin-left: 0.65rem;
}
.door{
    width: 5.42rem;
    height: 4.08rem;
}
.picfour{
    width: 6.4rem;
    height: 4.57rem;
}
.pic-four{
    width: 5.42rem;
    height: 4.08rem;
    margin-left: 0.65rem;
}
.door2{
    width: 5.42rem;
    height: 4.08rem;
}
.parttwe{
    width: 6.4rem;
    height: 0.68rem;
    position: relative;
}
.plane-three{
    width: 0.63rem;
    height: 0.69rem;
    float: left;
}
.planethree{
    display: block;
    position: absolute;
    top: 0.31rem;
    left: 0.29rem;
    width: 0.22rem;
    height: 0.34rem;
}
.third{
    width: 4.7rem;
    height: 0.38rem;
    font-size: 0.27rem;
    float: left;
    margin-top: 0.31rem;
    color: #50bbdb;
    margin-left: 0.12rem;
    border-bottom: 0.01rem solid #50bbdb;
}
.partthi{
    width: 5.74rem;
    height: 3.78rem;
    margin-left: 0.4rem;
    border-left: 0.01rem dashed #f5f5f5;
}
.foodfive{
    width: 5.82rem;
    height: 0.69rem;
    margin-left: 0.23rem;
    border-bottom: 0.01rem dashed #f5f5f5;
}
.foodfive li{
    font-size: 0.27rem;
    float: left;
    margin-left: 0.25rem;
    width: 1.93rem;
    margin-top: 0.25rem;
}
#food-three{
    color: #50bbdb;
    width: 2.3rem;
}
#foodthree{
    color: black;
}
#foodsix{
    list-style: none;
}
.word2{
    width: 5.51rem;
    height: 2.9rem;
    margin-left: 0.23rem;
    margin-top: 0.2rem;
    line-height: 0.36rem;
}
.wordfour{
    font-size: 0.2rem;
}
.picfive{
    width: 6.4rem;
    height: 4.45rem;
}
.pic-five{
    width: 5.42rem;
    height: 4.08rem;
    margin-left: 0.65rem;
}
.p2{
    width: 5.42rem;
    height: 4.08rem;
}
.picsix{
    width: 6.4rem;
    height: 4.51rem;
}
.pic-six{
    width: 5.42rem;
    height: 4.08rem;
    margin-left: 0.65rem;
}
.p3{
    width: 5.42rem;
    height: 4.08rem;
}
.fourteen{
    width: 6.4rem;
    height: 0.21rem;
    background-color: #d4d4d4;
}
.fifteen{
    width: 6.4rem;
    height: 0.29rem;
}
.sixteen{
    width: 6.4rem;
    height: 0.46rem;
    background-color: #f5f5f5;
}
.seventeen{
    width: 6.4rem;
    height: 4.52rem;
}
.vip{
    width: 6.08rem;
    height: 1.12rem;
    margin-left: 0.38rem;
    margin-top: 0.37rem;
    list-style: none;
}
.vip li{
    font-size: 0.22rem;
}
.vip1{
    width: 6.08rem;
    height: 3.05rem;
}
.vipone{
    width: 6.08rem;
    height: 0.22rem;
    margin-left: 0.38rem;
    font-size: 0.22rem;
}
.vip1{
    margin-left: 0.38rem;
    width: 5.70rem;
    height: 3.13rem;
    list-style: none;
}
.vip1 li{
    line-height: 0.32rem;
    font-size: 0.2rem;
}
.eighteen{
    width: 6rem;
    height: 0.56rem;
    margin-left: 0.4rem;
    margin-top: 0.34rem;
    font-size: 0.22rem;
}
.nineteen{
    width: 6.4trm;
    height: 1.75rem;
}
.tickit{
    width: 5.7rem;
    margin-left: 0.38rem;
    height: 2.77rem;
}
.tickit li{
    font-size: 0.2rem;
    line-height: 0.32rem;
}
.time{
    width: 6.02rem;
    height: 0.33rem;
    margin-left: 0.38rem;
    font-size: 0.22rem;
}
.time1{
    width: 6.1rem;
    height: 0.16rem;
    font-size: 0.16rem;
    margin-left: 0.3rem;
}
.car{
    width: 6.02rem;
    height: 0.2rem;
    margin-left: 0.38rem;
    margin-top: 0.36rem;
    font-size: 0.22rem;
}
.tty{
    width: 6.4rem;
    height: 4.56rem;
}
.parter{
    width: 6.09rem;
    height: 4.45rem;    
    margin-left:0.31rem;
    margin-top: 0.11rem;
}
.parter li{
    list-style: none;
    font-size: 0.17rem;
    line-height: 0.28rem;
}
.mark{
    width: 6.02rem;
    height: 0.2rem;
    margin-left: 0.38rem;
    font-size: 0.22rem;
}
.bottom{
    width: 6.4rem;
    height: 4.46rem;
}
.bot1{
    width: 6.09rem;
    height: 4.45rem;    
    margin-left:0.31rem;
    margin-top: 0.11rem;
}
.bot1 li{
    list-style: none;
    font-size: 0.17rem;
    line-height: 0.28rem;
}
.leader{
    width: 6.4rem;
    height: 0.46rem;
    background-color: #f5f5f5;
}
.lead{
    font-size: 0.23rem;
    float: left;
    width: 1.22rem;
    height: 0.46rem;
    text-align: center;
    line-height: 0.46rem;
}
.station{
    width: 6.4rem;
    height: 1.93rem;
}
.st1{
    width: 5.78rem;
    height: 0.35rem;
    margin-left: 0.3rem;
    margin-top: 0.15rem;
    font-size: 0.18rem;
    border-bottom: 0.01rem dashed #f0f0f0;
}
.im1{
    width: 1.31rem;
    height: 0.98rem;
    float: left;
}
.vof{
    width: 0.99rem;
    height: 0.98rem;
    margin-left: 0.32rem;
}
.im2{
    width: 4.95rem;
    height: 1.08rem;
    margin-left: 0.12rem;
    margin-top: 0.37rem;
    font-size: 0.2rem;
    float: left;
}
.tty1{
    width: 6.4rem;
    height: 0.46rem;
    background-color: #f5f5f5;
}
.uesr{
    font-size: 0.23rem;
    float: left;
    width: 1.22rem;
    height: 0.46rem;
    text-align: center;
    line-height: 0.46rem;
}
.valuate{
    width: 6.4rem;
    height: 0.67rem;
    border-bottom: 0.01rem solid #cccccc;
}
.star{
    width: 2.48rem;
    height: 0.26rem;
    margin-left: 0.39rem;
    margin-top: 0.27rem;
    float: left;
    border-right: 0.01rem solid #cccccc;
}
.val1{
    width: 0.85rem;
    height: 0.25rem;
    font-size: 0.21rem;
    float: left;
}
.stars{
    width: 1.13rem;
    height: 0.25rem;
    margin-left: 0.24rem;
    float: left;
}
.anyone{
    width: 1.75rem;
    height: 0.25rem;
    font-size: 0.21rem;
    float: left;
    text-align: center;
    line-height: 0.25rem;
    margin-top: 0.27rem;
    border-right: 0.01rem solid #cccccc;
}
.val2{
    width: 1.75rem;
    height: 0.25rem;
    font-size: 0.21rem;
    text-align: center;
    float: left;
    line-height: 0.25rem;
    margin-top: 0.27rem;
}
.tty2{
    width: 5.77rem;
    height: 0.9rem;
    margin-left: 0.38rem;
    border-bottom: 0.01rem dashed #cccccc;
}
.flo{
    width: 0.55rem;
    height: 0.56rem;
    margin-top: 0.26rem;
    float: left;
}
.flo1{
    width: 0.55rem;
    height: 0.56rem;
    display: block;
}
.num1{
    width: 1.57rem;
    height: 0.18rem;
    font-size: 0.16rem;
    margin-left: 0.12rem;
    margin-top: 0.49rem;
    float: left;
}
.val3{
    width: 0.9rem;
    height: 0.2rem;
    margin-top: 0.45rem;
    float: left;
    font-size: 0.16rem;
}
.star-1{
    width: 1.13rem;
    height: 0.18rem;
    margin-top: 0.49rem;
    float: left;
}
.star-2{
    width: 1.13rem;
    height: 0.18rem;
    display: block;
}
.days{
    width: 1.37rem;
    height: 0.16rem;
    font-size: 0.16rem;
    float: left;
    margin-top: 0.49rem;
}
.say{
    width: 6.1rem;
    height: 0.54rem;
    margin-left: 0.3rem;
    font-size: 0.2rem;
    line-height: 0.54rem;
}
.ok{
    width: 6.1rem;
    height: 0.96rem;
    margin-left: 0.3rem;
}
.ok1{
    width: 2.17rem;
    height: 0.96rem;
}
.ok1 li{
    font-size: 0.2rem;
    list-style: none;
    line-height: 0.29rem;
}
.picture{
    width: 2.17rem;
    height: 0.78rem;
    margin-left: 0.3rem;
}
.pictureone{
    width: 1.05rem;
    height: 0.65rem;
    float: left;
}
.pics{
    width: 1.05rem;
    height: 0.65rem;
    display: block;
}
.picturetwo{
    width: 1.05rem;
    height: 0.65rem;
    float: right;
}
.pis1{
    width: 1.05rem;
    height: 0.65rem;
    display: block;
}
.wid{
    width: 6.4rem;
    height: 0.14rem;
    background-color: #cccccc;
}
.tty3{
    width: 6.4rem;
    height: 0.67rem;
    border-bottom: 0.01rem solid #cccccc;
}
.one1{
    width: 5.77rem;
    height: 0.9rem;
    margin-left: 0.38rem;
    border-bottom: 0.01rem dashed #cccccc;
}
.tty3{
    width: 5.76rem;
    height: 1.46rem;
    margin-left: 0.3rem;
    line-height: 0.23rem;
    font-size: 0.18rem;
    margin-top: 0.1rem;
}
.tty4{
    width: 6.1rem;
    height: 2.43rem;
    margin-left: 0.3rem;
}
.valfood{
    width: 5.76rem;
    height: 2.43rem;
    list-style: none;
}
.valfood li{
    font-size: 0.18rem;
    line-height: 0.23rem;
    margin-top: 0.25rem;
}
.food1{
    margin-top: 0;
}
.foodpic{
    width: 2.15rem;
    height: 1.07rem;
    margin-left: 1.55rem;
}
.firstone{
    width: 1.06rem;
    height: 0.63.rem;
    float: left;
}
.twiceone{
    width: 1.06rem;
    height: 0.63.rem;
    float: right;
}
.tty5{
    width: 6.4rem;
    height: 2.18rem;
    background-color: #f4f4f4;
}
.love{
    width: 1.31rem;
    height: 1.72rem;
    margin-left: 0.33rem;
    margin-top: 0.16rem;
    font-size: 0.16rem;
    color: #ea581b;
    float: left;
}
.love2{
    width: 4.47rem;
    height: 1.41rem;
    margin-top: 0.47rem;
    font-size: 0.17rem;
    line-height: 0.22rem;
    float: left;
}
.tty6{
    width: 6.4rem;
    height: 0.3rem;
}
.tty7{
    width: 6.4rem;
    height: 0.14rem;
    background-color: #f4f4f4;
}
.tty8{
    width: 6.4rem;
    height: 1rem;
}
.white4{
    width: 50%;
    height: 1rem;
    float: left;
}
.blue{
    width: 50%;
    height: 1rem;
    background-color: #50bbdb;
    color: white;
    font-size: 0.26rem;
    float: left;
    text-align: center;
    line-height: 1rem;
}
a .icon-iconset0423{
    position: absolute;
    font-size: 0.42rem;
    left: 0.22rem;
    top: 0.01rem;
    color: white;
}
.heart1{
    width: 1.59rem;
    height: 0.98rem;
    float: left;
    position: relative;
}
.phone{
    width: 1.59rem;
    height: 0.98rem;
    float: left;
    position: relative;
}
a .icon-shoucang{
    position: absolute;
    left: 0.65rem;
    top: 0.2rem;
}
a .icon-dianhua{
    position: absolute;
    left: 0.65rem;
    top: 0.2rem;
}
#want{
    font-size: 0.2rem;
    width: 0.44rem;
    height: 0.2rem;
    position: absolute;
    left: 0.58rem;
    top: 0.57rem;
}
.phone2{
    font-size: 0.2rem;
    width: 0.85rem;
    height: 0.2rem;
    position: absolute;
    left: 0.44rem;
    top: 0.59rem;
}